<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAaLoHEosm2D090JGr015f1WVOZ-spfRMA</string>
	<key>GCM_SENDER_ID</key>
	<string>654846208029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.geliyor.mobil</string>
	<key>PROJECT_ID</key>
	<string>geliyortrapp</string>
	<key>STORAGE_BUCKET</key>
	<string>geliyortrapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654846208029:ios:c8ab355b046b291e5e7ef4</string>
</dict>
</plist>
